body{
    background-image: url(../IMG/IMG-20220503-WA0001.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    box-sizing: border-box;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: #fff;
}
.h2{
    text-align: center;
    display: block;
    margin-top: 10rem;
    

}

.contained{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
   
   
}

.contained > div span{
    display: block;
    margin: 1em auto;
    margin-left: 2em;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
    
}
.day , .hrs, .mins ,.sec , .your{
    margin-left: 2rem;
    font-size: 6rem; margin-top: 10rem;
}
@media(max-width:800px){
    body{
        height: 100vh;
        overflow: hidden;
    }
    .day , .hrs, .mins ,.sec , .your{
        margin-left: 2rem;
        font-size: 4rem;
    }
}
